.create__issue__contents {
  margin-left: 12px;
  margin-right: 12px;
}
label {
  margin-top: 7px;
  margin-bottom: 7px;
}
.issuee__create__btn {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

button:disabled,
button[disabled] {
  border: 1px solid var(--tracker-color) !important;
  background-color: #f8f4e3 !important;
  font-weight: 400 !important;
  color: #000 !important;
}
.upload_cover {
  display: flex;
}
.coverpic_label {
  margin-top: -26px;
  margin-left: 30px;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  color: blue;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.auto_complete {
  position: relative !important;
}
