<div class="issue__main__content" *ngIf="issueDetails">
  <div class="issue__details__card">
    <div class="issue__card">
      <p class="title">{{ issueDetails.title }}</p>
      <code>Created On-</code>
      <p class="created">{{ issueDetails.createDate | date }}</p>
      <code>Reported By-</code>
      <p class="reporter">{{ issueDetails.reporter }}</p>
      <p class="reporter">{{ issueDetails.priority }}</p>
      <div class="issue__bug__div">
        <i class="material-icons icon">tour</i>
        <p class="bug">Bug</p>
      </div>
    </div>
  </div>
  <div class="issue__edit__options">
    <div class="options__list">
      <div class="issue__edit__option_1">
        <div class="edit__title__div">
          <p
            class="title__para"
            [hidden]="!showTitleInput"
            (click)="showUpdateField('title')"
          >
            {{ issueDetails.title }}
          </p>
          <div [hidden]="showTitleInput">
            <input
              class="title__input"
              type="text"
              name="title"
              [value]="issueDetails.title"
              (change)="onChange($event, 'title')"
            />
            <app-save-cancel
              (saveOps)="updateField('title')"
              (cancelOps)="showUpdateField('title')"
            ></app-save-cancel>
          </div>
        </div>
        <div class="edit__desc__div">
          <p class="desc__label">Description</p>
          <p
            class="desc__para"
            (click)="showUpdateField('desc')"
            [hidden]="!showDescEditor"
            [innerHTML]="issueDetails.description"
          ></p>
          <div [hidden]="showDescEditor">
            <ckeditor
              [ngModelOptions]="{ standalone: true }"
              [data]="issueDetails.description"
              (change)="onChange($event, 'desc')"
              [config]="{
                toolbar: [
                  [
                    'Bold',
                    'Italic',
                    'Cut',
                    'Copy',
                    'Paste',
                    'PasteText',
                    'PasteFromWord',
                    '-',
                    'Undo',
                    'Redo'
                  ]
                ]
              }"
            ></ckeditor>
            <app-save-cancel
              (saveOps)="updateField('desc')"
              (cancelOps)="showUpdateField('desc')"
            ></app-save-cancel>
          </div>
        </div>
      </div>
      <div class="issue__edit__option_2"></div>
    </div>
  </div>
</div>
