<div class="issue__main__content" *ngIf="issueDetails">
  <div class="issue__details__card">
    <div class="issue__card">
      <p class="title">{{ issueDetails.title }}</p>
      <code>Created On-</code>
      <p class="created">{{ issueDetails.createDate | date }}</p>
      <code>Reported By-</code>
      <p class="reporter">{{ issueDetails.reporter }}</p>
      <p class="reporter">{{ issueDetails.priority }}</p>
      <div class="issue__bug__div">
        <i class="material-icons icon">tour</i>
        <p class="bug">Bug</p>
      </div>
    </div>
  </div>
  <div class="issue__edit__options">
    <div class="options__list">
      <div class="issue__edit__option_1">
        <div class="edit__title__div">
          <p
            class="title__para"
            [hidden]="!showTitleInput"
            (click)="showUpdateField('title')"
          >
            {{ issueDetails.title }}
          </p>
          <mat-divider></mat-divider>
          <div [hidden]="showTitleInput">
            <input
              class="title__input"
              type="text"
              name="title"
              [value]="issueDetails.title"
              (change)="onChange($event, 'title')"
            />
            <app-save-cancel
              (saveOps)="updateField('title')"
              (cancelOps)="showUpdateField('title')"
            ></app-save-cancel>
          </div>
        </div>
        <div class="edit__desc__div">
          <p class="desc__label">Description</p>
          <p
            class="desc__para"
            (click)="showUpdateField('desc')"
            [hidden]="!showDescEditor"
            [innerHtml]="issueDetails.description"
          ></p>
          <mat-divider></mat-divider>
          <div [hidden]="showDescEditor">
            <ckeditor
              [ngModelOptions]="{ standalone: true }"
              [data]="issueDetails.description"
              (change)="onChange($event, 'desc')"
              [config]="{
                toolbar: [
                  [
                    'Bold',
                    'Italic',
                    'Cut',
                    'Copy',
                    'Paste',
                    'PasteText',
                    'PasteFromWord',
                    '-',
                    'Undo',
                    'Redo'
                  ]
                ]
              }"
            ></ckeditor>
            <app-save-cancel
              (saveOps)="updateField('desc')"
              (cancelOps)="showUpdateField('desc')"
            ></app-save-cancel>
          </div>
        </div>
        <div class="comments__section">
          <p class="comment__header">Comments</p>
          <div class="col__break__line"></div>
          <div
            class="comments__list__section"
            [hidden]="!issueDetails.comments.length > 0"
          >
            <div
              class="comments__list"
              *ngIf="issueDetails.comments.length > 0"
            >
              <div *ngFor="let co of issueDetails.comments">
                <div class="comments__list__header">
                  <i class="material-icons face__icon">face</i>
                  <p>{{ name }}</p>
                  <span class="comment__date">{{ co.createdAt | date }}</span>
                </div>
                <p class="comments__text" [innerHtml]="co.text"></p>
                <div class="comment__edit__div">
                  <span (click)="showUpdateField('edit-comment', co)"
                    >Edit.</span
                  >
                  <span (click)="handleComments('delete', co)">Delete.</span>
                </div>
              </div>
            </div>
            <!--Edit commets editor-->
            <div [hidden]="showCommentUpdateEditor" *ngIf="selectedComment">
              <app-editor
                [ngModelOptions]="{ standalone: true }"
                [data]="selectedComment.text"
                (changeEvent)="onChange($event, 'comment')"
              ></app-editor>
              <app-save-cancel
                (saveOps)="handleComments('edit')"
                (cancelOps)="showUpdateField('edit-comment')"
              ></app-save-cancel>
            </div>
          </div>
          <div class="add__comment__section">
            <div class="add__comments__header" [hidden]="!showCommentEditor">
              <i class="material-icons face__icon">face</i>
              <input
                class="add__comment__input"
                type="text"
                name="addcomment"
                placeholder="Add a comment..."
                (click)="showUpdateField('comment')"
              />
            </div>
            <div [hidden]="showCommentEditor">
              <ckeditor
                [ngModelOptions]="{ standalone: true }"
                (change)="onChange($event, 'comment')"
                [config]="{
                  toolbar: [
                    [
                      'Bold',
                      'Italic',
                      'Cut',
                      'Copy',
                      'Paste',
                      'PasteText',
                      'PasteFromWord',
                      '-',
                      'Undo',
                      'Redo'
                    ]
                  ]
                }"
              ></ckeditor>
              <app-save-cancel
                (saveOps)="handleComments('add')"
                (cancelOps)="showUpdateField('comment')"
              ></app-save-cancel>
            </div>
          </div>
        </div>
      </div>
      <div class="issue__edit__option_2"></div>
    </div>
  </div>
</div>
