.social__login__main {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.login__response {
  margin-left: auto;
  margin-right: auto;
}
.successMessage {
  color: green;
}
.errorMessage {
  color: red;
}
