<div class="social__login__main">
  <div class="fb__social">
    <img src="assets/fb.png" alt="" title="facebook" (click)="fbSignIn()" />
  </div>
  <div class="google__social">
    <img
      src="assets/google.png"
      alt=""
      title="google"
      (click)="googleSignIn()"
    />
  </div>
  <div class="linkedin__social">
    <img
      src="assets/linkedin.png"
      alt=""
      title="linkedin"
      (click)="linkedInSignIn()"
    />
  </div>
  <div
    class="login__response"
    [ngClass]="{
      successLoginMessage: responseType,
      errorLoginMessage: !responseType
    }"
  >
    {{ responseMsg }}
  </div>
</div>
