<div>
  <mat-form-field>
    <mat-chip-list #chipList aria-label="Watchers selection">
      <mat-chip
        *ngFor="let watchers of currentWatchList"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="removeWatcher(watchers)"
      >
        {{ watchers.name }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Add Watchers..."
        #watcherInput
        [formControl]="watchersCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addWatcher($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectedWatcher($event)"
      class="auto_complete"
    >
      <mat-option *ngFor="let watchers of watchListOptions" [value]="watchers">
        {{ watchers.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
