<div class="signup">
  <div class="signup__content">
    <div class="signup__nav"><img src="assets/virus.png" alt="" /></div>
    <p>Create your account</p>
    <form>
      <input name="name" type="text" placeholder="name" required="" value="" />
      <input name="email" type="text" placeholder="email" value="" /><input
        name="username"
        type="text"
        placeholder="create a username"
        value=""
      />
      <input
        name="password"
        type="password"
        placeholder="your secret"
        value=""
      /><input
        name="cfnPwd"
        type="password"
        placeholder="confirm your secret"
        value=""
      />
      <button class="mat-raised-button" tabindex="0" type="submit">
        Sign up
      </button>
    </form>
    <br /><span class=""></span>
    <h4>Cancel?</h4>
  </div>
</div>
