* {
  --tracker-color: #50b7f5;
  --tracker-bg: #cad4dd;
  font-family: "Montserrat", sans-serif;
}
.signup {
  display: grid;
  padding: 20px;
  margin: 20px;
  margin-top: 25px;
  justify-items: center;
}
.signup__content {
  box-sizing: border-box;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
  width: 400px;
  height: 568px;
}
.signup__nav > img {
  width: 45px;
  height: 45px;
}
.signup__content > p {
  margin-top: 14px;
  font-size: 30px;
}
.signup__content > form > input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid var(--tracker-color);
}
.signup__content > form > input:focus {
  outline: none;
}
.signup__content > form > button {
  background-color: var(--tracker-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  font-size: 19px !important;
  text-transform: inherit !important;
  height: 40px !important;
  margin-top: 20px !important;
  width: 150px;
  cursor: pointer !important;
}

.signup__content > button:hover {
  background-color: blue;
}
.signup__content > h4 {
  color: var(--tracker-color);
  cursor: pointer;
  margin-top: 1px;
  font-size: 15px;
}
.signup__content > h4:hover {
  color: blue;
}
.signup__content > form > button:hover {
  background-color: rgb(64, 148, 175) !important;
  color: aliceblue !important;
}
button:disabled,
button[disabled] {
  border: 1px solid var(--tracker-color) !important;
  background-color: #f8f4e3 !important;
  font-weight: 900 !important;
  color: #000 !important;
}
.signup__response {
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}
.successMessage {
  color: green;
}
.errorMessage {
  color: red;
}
