<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="dashboard">
  <div class="dashboard__navbar">
    <div class="navbar__icons">
      <img src="assets/virus.png" alt="" (click)="getAllIssues()" />
      <span>i</span><code>Tracker</code>
    </div>
    <div class="dashboard__navbar__welcome">
      <p>Welcome To iTracker</p>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="navbar__button__create"
      title="create a issue"
      (click)="open(createModal)"
    >
      Create
    </button>
    <input
      type="search"
      name="search"
      placeholder="Search"
      class="navbar__input__search"
      title="search by keywords"
      (change)="searchIssues($event.target.value)"
    />
    <img
      src="assets/shutdown-96.png"
      title="logout"
      alt=""
      (click)="logout()"
    />
  </div>
  <div class="dashboard__main__content">
    <div class="dasboard__filter__sidebar">
      <div class="dasboard__username">
        <p class="option__bold__text">Saurabh Bharti</p>
      </div>
      <div class="div__break__line"></div>
      <div class="dashboard__filter__list">
        <p class="option__bold__text">Filters</p>
        <p class="filters" (click)="getAllIssues()">Main view</p>
        <p
          class="filters"
          (click)="filterIssues(userId, 'all', 'status', userName)"
        >
          All Issues
        </p>
        <p
          class="filters"
          (click)="filterIssues(userId, 'reportedByMe', 'status', name)"
        >
          Reported by me
        </p>
        <p
          class="filters"
          (click)="filterIssues(userId, 'openIssues', 'status', userName)"
        >
          My Open Issues
        </p>
        <p
          class="filters"
          (click)="filterIssues(userId, 'closedIssues', 'status', userName)"
        >
          Done Issues
        </p>
        <p
          class="filters"
          (click)="filterIssues(userId, 'resolvedRecent', 'time', userName)"
        >
          Resolved recently
        </p>
        <p
          class="filters"
          (click)="filterIssues(userId, 'updatedRecent', 'time', userName)"
        >
          Updated recently
        </p>
        <div class="div__break__line"></div>
      </div>
    </div>
    <!--categorized table view start-->

    <div class="dashboard__issue__list" [hidden]="showCategorizedIssues">
      <div class="issue__table__header">
        <p>
          Currently showing
          <span style="color: blueviolet"> {{ displayFilterType }}</span>
        </p>
      </div>
      <div class="issue__table">
        <table matSort (matSortChange)="sortData($event)">
          <tr>
            <th mat-sort-header="title">Title</th>
            <th mat-sort-header="reporter">Reporter</th>
            <th mat-sort-header="createDate">created On</th>
            <th mat-sort-header="status">Status</th>
          </tr>
          <tr *ngFor="let issue of activePageDataChunks">
            <td class="title__col">{{ issue.title }}</td>
            <td>{{ issue.reporter }}</td>
            <td>{{ issue.createDate | date }}</td>
            <td>{{ issue.status }}</td>
          </tr>
        </table>
        <div class="paginator__div">
          <mat-paginator
            class="issues__paginator"
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChanged($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
    <!--categorized table view end-->
    <div class="dashboard__issue__list" [hidden]="!showCategorizedIssues">
      <div class="issuee__not__found">
        {{ emptyIssueMessage }}
        <i class="material-icons">warning</i>
      </div>
      <div class="dashboard__footbar"></div>
    </div>

    <!--Create Issue Modal-->
    <ng-template #createModal let-modal>
      <div class="modal-header">
        <p class="modal-title mt-3 ml-3 font-weight-bold" id="modal-create">
          You are creating an Issue
        </p>
      </div>
      <div class="modal-body modal__size">
        <app-create-issue
          [userId]="userId"
          [username]="userName"
          (closeModal)="modal.close()"
          (newCreatedIssue)="updateNewIssue($event)"
        >
        </app-create-issue>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mat-raised-button
          class="mt-2 mr-2 mb-2"
          color="warn"
          (click)="modal.close('Save click')"
        >
          Close
        </button>
      </div>
    </ng-template>
  </div>
</div>
