<div class="dashboard">
  <div class="dashboard__navbar">
    <div class="navbar__icons">
      <img src="assets/virus.png" alt="" />
      <span>i</span><code>Tracker</code>
    </div>
    <div class="dashboard__navbar__welcome">
      <p>Welcome To iTracker</p>
    </div>
    <button
      mat-raised-button
      color="primary"
      class="navbar__button__create"
      title="create a issue"
    >
      Create
    </button>
    <input
      type="search"
      name="search"
      placeholder="Search"
      class="navbar__input__search"
      title="search by keywords"
    />
    <img src="assets/shutdown-96.png" title="logout" alt="" />
  </div>
  <div class="dashboard__main__content">
    <div class="dasboard__filter__sidebar">
      <div class="dasboard__username">
        <h2>Saurabh Bharti</h2>
      </div>
      <div class="dashboard__filter__list">
        <p>All Issues</p>
        <p>Reported by me</p>
        <p>My Open Issues</p>
        <p>Done Issues</p>
        <p>Resolved recently</p>
        <p>Updated recently</p>
      </div>
    </div>
    <div class="dashboard__issue__list">
      <p>issue list1</p>
      <p>issue list1</p>
      <p>issue list1</p>
      <p>issue list1</p>
      <p>issue list1</p>
    </div>
  </div>
  <div class="dashboard__footbar"></div>
</div>
