* {
  --tracker-color: #50b7f5;
  --tracker-bg: #cad4dd;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  --navbar-grad: radial-gradient(
    circle at top left,
    rgb(195, 195, 195) 0%,
    rgb(195, 195, 195) 2%,
    rgb(202, 202, 202) 2%,
    rgb(202, 202, 202) 23%,
    rgb(209, 209, 209) 23%,
    rgb(209, 209, 209) 55%,
    rgb(217, 217, 217) 55%,
    rgb(217, 217, 217) 80%,
    rgb(224, 224, 224) 80%,
    rgb(224, 224, 224) 86%,
    rgb(231, 231, 231) 86%,
    rgb(231, 231, 231) 96%,
    rgb(238, 238, 238) 96%,
    rgb(238, 238, 238) 100%
  );
}
.dashboard {
  height: 100vh;
}
.dashboard__navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-image: var(--navbar-grad);
}
.navbar__icons {
}

.navbar__button__create {
}
.navbar__input__search {
}
.navbar__button__logout {
}
