* {
  --tracker-color: #50b7f5;
  --tracker-bg: #cad4dd;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  --navbar-grad: radial-gradient(
    circle at top left,
    rgb(195, 195, 195) 0%,
    rgb(195, 195, 195) 2%,
    rgb(202, 202, 202) 2%,
    rgb(202, 202, 202) 23%,
    rgb(209, 209, 209) 23%,
    rgb(209, 209, 209) 55%,
    rgb(217, 217, 217) 55%,
    rgb(217, 217, 217) 80%,
    rgb(224, 224, 224) 80%,
    rgb(224, 224, 224) 86%,
    rgb(231, 231, 231) 86%,
    rgb(231, 231, 231) 96%,
    rgb(238, 238, 238) 96%,
    rgb(238, 238, 238) 100%
  );
}
.dashboard {
  height: 100vh;
}
.dashboard__navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-image: var(--navbar-grad);
}
.dashboard__navbar > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navbar__icons {
}
.navbar__icons > img {
  width: 30px;
  height: 30px;
}
.navbar__icons > span {
  display: inline-block;
  font-size: 15px;
  font-weight: 800;
  margin-left: 3px;
}
code {
  color: blue;
  display: inline-block;
  margin-left: 2px;
  font-size: 15px;
  font-weight: 800;
}
.dashboard__navbar__welcome {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 800;
  color: #171a21;
}
.navbar__button__create {
  font-size: 15px !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  cursor: pointer !important;
  margin-left: 370px;
}
.navbar__input__search {
}
