/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  --twitter-color: #50b7f5;
  --twitter-bg: #cad4dd;
  font-family: "Montserrat", sans-serif;
}
