<div class="home">
  <div class="home__box">
    <div class="home__box__icon">
      <img src="assets/virus.png" alt="" />
      <code>iTracker</code>
    </div>
    <div class="home__box__intro">
      <p>
        Plan, track, and manage your agile and software development projects in
        iTracker. Collaborate and build
      </p>
    </div>
    <div class="home__box__navigation">
      <button [routerLink]="['/login']" class="home__login__btn">Login</button>
      <button [routerLink]="['/signup']" class="home__signup__btn">
        SignUp
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
