<div class="home">
  <div class="home__box">
    <div class="home__box__icon">
      <img src="assets/virus.png" alt="" />
      <code>iTracker</code>
    </div>
    <div class="home__box__intro">
      <p>
        Plan, track, and manage your agile and software development projects in
        <span>i</span>Tracker. Collaborate and build
      </p>
    </div>
    <div class="home__box__navigation">
      <button mat-raised-button [routerLink]="['/login']" class="button__login">
        Login
      </button>
      <button
        mat-stroked-button
        [routerLink]="['/signup']"
        class="button__signup"
      >
        SignUp
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
